//COLORS
// $color-primary: #001180;
//$color-primary: #03689a;
$color-primary: #fff;
$clr-primary: #29a396;

$color-secondary: #84d2e8;
//$color-medium-blue: #03689a;
//$color-dark-blue: #074c6e;

$color-1: #ffb900;
$color-2: #ff7730;
$color-3: #2998ff;
$color-4: #5643fa;
$color-5: #3ad68a;
$color-6: #00916e;
$color-7: #b27aff;
$color-8: #6725a1;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;

$color-text: #141414;

//FONT
$small-font-size: 1.2rem;
$default-font-size: 1.6rem;
$large-font-size: 1.8rem;
//-----------------------
$xl-font-size: 1.6rem;
$mobile-xl-font-size: 1.6rem;

$xxl-font-size: 1.8rem;
$mobile-xxl-font-size: 1.2rem;

//GRID
$grid-width: 100rem;
$grid-width-2: 105rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//------------------------
