*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "clash", sans-serif;
  overflow: hidden;
}

div {
  transition: all 0.1s;
}

html {
  //definition of 1rem
  font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%

  scroll-behavior: smooth;
  //  transition: all 500ms;

  // @include respond(phone) {
  //     font-size: 50%;
  // }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
  //@include respond(phone) {
  //  fon-size: 80%;
  //}

  // @include respond(phone) {
  //     height: -webkit-fill-available;
  // }
}

.top-level-div {
  @include respond(phone) {
    width: 100%;
  }
  //width: fit-content;
  width: 100%;
}

.main-content {
  min-height: 100vh;
  @include respond(tab-port) {
    margin-left: 0;
    width: 100%;
  }

  @include respond(phone) {
    margin-left: 0;
    width: 100%;
  }
}

//.main-content {
//  display: flex;
//  flex-direction: column;
//  //align-items: center;
//  /*//justify-content: center;*/
//  padding-top: 3.2rem;
//  width: 100%;

//  //width: 100%;
//  //width: 100%;
//  /*background-color: #005bd3;*/
//  /*width changed to min-width*/
//  @include respond(phone) {
//    width: 100%;
//    margin-left: 0;
//  }
//}

//.main-tray {
//  height: 100vh;
//  overflow-y: scroll;
//  //position: fixed;
//  //width: max-content;
//  width: 70%;
//  //z-index: 1;
//  //box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.1);

//  @include respond(phone) {
//    height: 100%;
//    width: 100%;
//  }
//}
