::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #2b1a06;

  @include respond(phone) {
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background: #8b5007;
  opacity: 30%;
  //border-radius: 10rem;
}
